@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  pointer-events: none;
}
.App-title{
  font-size: 1.5em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tieude, .ph {
  display: flex;
  justify-content:space-evenly;
}



#img {
  margin-left: 100px;
  object-fit: contain;
  height: 600%;
  width: 40%;
} 
.container {
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}
#pic-1 {
  border-radius: 2px;
  border-color: #0076ad;
}

#img {
  display: unset;
}

.tieude {
  display: flex;
  justify-content: space-evenly;
}

.muahang {
  display: flex;
}
.muahang button {
  margin-left: 30px;
  width: 100%;
}
.card-bodylogin {
  background: gray;
}
.chudangky {
  color: white ;
}
.xinchao {
  color: white;
  padding-left: 200px;
  font-size: large;
  text-align: center;
}
.text-centermt-3{
  font-size: xx-large;
  padding-top: 50px;
  color: red;
  font-weight: bold;
}
.avgstar {
  font-size: large;
  color: red;
  font-weight: bold;
  padding-left: 50px;
}
 